@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Rubik:wght@300..900&display=swap');
:root{
    --black:#101010;
    --offblack: #1C1C1C;
    --white:#fefefe;
    --purple: #a86eeb;
    --red: #ff6565;
    --yellow: #e6cc5f;
    --blue: #80d8ff;
    --green:
    --col-gap: 2vw;
    --page-width: 100vw;
    --constrained-page-width: 1200px;
    --transitiontime: 1s;
    --headerfont: 'Rubik', sans-serif;
    --bodyfont: 'Montserrat', sans-serif;
}
/*layout*/
h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    font-family: var(--headerfont);
}
strong {
    font-weight: bold;
}
.headertext,
h2 {
    font-size: clamp(32px,4vw,52px);
    font-family: var(--headerfont);
    margin-bottom: 10px;
    margin-top: 20px;
}
h2.sm {
    font-size: clamp(26px,3vw,38px);
}
h2.exsm {
    font-size: clamp(22px,2vw,26px);
}
.rtext{
    color: var(--red);
}
.ytext{
    color: var(--yellow);
}
.ptext{
    color: var(--purple);
}
.btext{
    color: var(--blue);
}
.btn{
   
}
.btn:focus,
.btn:hover{
    
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--offblack);
    padding: 0;
    margin: 0;
    font-size: ;
    font-family: ;
    font-weight: 200;
    font: normal normal normal 18px/40px var(--bodyfont);
    color: var(--white);
    overflow-x: hidden;
    width: 100vw;
}
.hero {
    font: normal normal normal 24px/40px var(--bodyfont);
    padding-top: 10vw !important;
}
.section.hills {
    background: url(../img/hills.svg) no-repeat top center;
    background-size: 140%;
    padding-top: 20vw;
}
a {

}
a:hover,a:focus {

}
.logocloud {
    display: flex;
    flex-wrap: wrap !important;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-top: 50px;
}
.page-width {
    max-width: var(--page-width);
    margin: 0 auto;
    width: 90%;
}
.constrained {
    max-width: var(--constrained-page-width);
    margin: 0 auto;
    width: 90%;
}
.section {
    padding: 4vw 20px;
}
.section.black {
    background: var(--black);
}
.logos:before {
    margin: -6vw -20px 0;
    height: 10vw;
    background: linear-gradient(3deg,var(--black) 49.9%, var(--offblack) 50%);
    display: block;
    content: "";
    padding-bottom: 5vw;
}
.logos:after {
    margin: 0 -20px -6vw;
    height: 10vw;
    background: linear-gradient(3deg,var(--offblack) 49.9%, var(--black) 50%);
    display: block;
    content: "";
    padding-top: 5vw;
}
.two-col-list li {
    transform: translatex(-20%);
    opacity: 0;
}
.portfolio img {
    opacity: 0;
    transition: .75s;
}
.animatedEnter.portfolio img {
    opacity: 1;
}
.animatedEnter .two-col-list li {
    animation: backtonormal .25s forwards ease-in;
}
.animatedEnter .logocloud img {
    animation: fallin .25s forwards ease-in;
}
.animatedEnter .logocloud img:nth-child(1) {
    animation-delay: 1s;
}
.animatedEnter .logocloud img:nth-child(2) {
    animation-delay: 1.15s;
}
.animatedEnter .logocloud img:nth-child(3) {
    animation-delay: 1.3s;
}
.animatedEnter .logocloud img:nth-child(4) {
    animation-delay: 1.45s;
}
.animatedEnter .logocloud img:nth-child(5) {
    animation-delay: 1.6s;
}
.animatedEnter .logocloud img:nth-child(6) {
    animation-delay: 1.75s;
}
.animatedEnter .logocloud img:nth-child(7) {
    animation-delay: 1.9s;
}
.animatedEnter .logocloud img:nth-child(8) {
    animation-delay: 2.05s;
}
.two-col-list li:nth-child(1){
    animation-delay: .15s;
}
.two-col-list li:nth-child(2){
    animation-delay: .3s;
}
.two-col-list li:nth-child(3){
    animation-delay: .45s;
}
.two-col-list li:nth-child(4){
    animation-delay: .6s;
}
.two-col-list li:nth-child(5){
    animation-delay: .75s;
}
.two-col-list li:nth-child(6){
    animation-delay: .9s;
}
.two-col-list li:nth-child(7){
    animation-delay: 1.05s;
}
.two-col-list li:nth-child(8){
    animation-delay: 1.2s;
}
.two-col-list li:nth-child(9){
    animation-delay: 1.35s;
}
.two-col-list li:nth-child(10){
    animation-delay: 1.5s;
}
.two-col-list li:nth-child(11){
    animation-delay: 1.65s;
}
.two-col-list li:nth-child(12){
    animation-delay: 1.8s;
}
.two-col-list li:nth-child(13){
    animation-delay: 1.95s;
}
.two-col-list li:nth-child(14){
    animation-delay: 2.1s;
}
@keyframes fallin {
    from {
        opacity: 0;
        transform: scale(1.1);
    }
     to {
        opacity: 1;
        transform: none;
     }
}
.logocloud img {
    opacity: 0;
    transform: scale(1.2);
}
.portfolio:before {
    margin: -6vw -20px 0;
    height: 10vw;
    background: linear-gradient(-3deg,var(--black) 49.9%, var(--offblack) 50%);
    display: block;
    content: "";
    padding-bottom: 5vw;
}
.breakout {
    margin-left:calc(-50vw + 50%);
    margin-right:calc(-50vw + 50%);
}
.row {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  gap: calc(2*var(--col-gap));
}
.wrap {
    flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.column.two {
    flex: 2;
}
.column.three {
    flex: 3;
}
.column.four {
    flex: 4;
}
.column.five {
    flex: 5;
}
.column.six {
    flex: 6;
}
.column.seven {
    flex: 7;
}
.stack {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.stack > * {
    grid-area: 1/1/2/2;
}
.circle {
    fill: transparent;
    stroke: var(--yellow);
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-dasharray:400;
    stroke-dashoffset: -350%;
    margin: 0 -0px;
}
.animatedEnter .circle {
    animation: dash 1.4s ease-out forwards;
    animation-delay: 1s;
}
.rect {
    fill: transparent;
    stroke: var(--red);
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-dasharray:400;
    stroke-dashoffset: -350%;
    margin: 0 -0px;
}
.animatedEnter .rect {
    animation: dash 1.4s ease-out forwards;
    animation-delay: 2s;
}
.line {
    fill: transparent;
    stroke: var(--blue);
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-dasharray:400;
    stroke-dashoffset: -350%;
    margin: auto -0px 0;
}
.animatedEnter .line {
    animation: dash 1.4s ease-out forwards;
}
                  
@keyframes dash {
    to {
       stroke-dashoffset: 70%;
    }
}
  
/*dropdown nav*/
.sub-menu {
    opacity: 0;
    transform: translate(0, 100px);
    position: absolute;
    z-index: -1;
    margin:0;
    padding: 0;
    background: var(--mint);
    left: 0;
    padding: 20px 40px 20px;
    top: 0;
}
nav ul {
    list-style: none;
    margin: 0;
}
nav#menu ul {
    padding: 0;
    width: calc(100vw - 80px);
    text-align: center;
}

nav li {
    text-transform: uppercase;
}
nav li a {
    color: var(--darkblue);
    font-weight: bold;
    text-decoration: none;
}
nav li a:focus ,
nav li a:hover {
    color: var(--red);
}
nav#menu {
    z-index: -999;
    background: var(--white);
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    top: 0;
    left: 0;
    padding: 90px 0px 6vw;
    color: var(--black);
    border-bottom: 100px #1C1C1C solid;
}
nav#menu a {
    font-size: 24px;
    font-family: var(--headerfont);
    text-transform: none;
    font-weight: normal;
    text-align: left;
}
.navlogo {
    max-width: 70%;
}
nav#menu.active {
    z-index: 999;
    opacity: 1;
    transition: .5s;
}
a#menu-toggle {
    z-index: 9999;
}
#menu-toggle.active {
    position: fixed;
    right: 10px;
}
#menu-toggle:focus svg rect ,
#menu-toggle:hover svg rect {
    fill: var(--red);
}
#menu-toggle.active line:first-child {
    transform: rotate(45deg) translate(518%, -704%) scalex(62%);
}
#menu-toggle.active line:nth-child(2) {
    transform:  translate(700%,200%) scale(0%);
}
#menu-toggle.active line:last-child {
    transform: rotate(-45deg) translate(360%, 985%) scalex(120%);
}
#menu-toggle.active line {
    stroke: #000 ;
    transition: .5s;
}
.active #e6341981-2474-4a26-aff0-a41ff99dcc03 > g rect {
    transition: .5s;
}
.active #e6341981-2474-4a26-aff0-a41ff99dcc03 > g rect:first-child {
    transform: scale(0);
    transform-origin: center ;
}
.active #e6341981-2474-4a26-aff0-a41ff99dcc03 > g rect:last-child {
    transform: rotate(45deg) translate(0, -18px);
    transform-origin: center ;
}
.active #e6341981-2474-4a26-aff0-a41ff99dcc03 > g rect:nth-child(2) {
    transform: rotate(-45deg) translate(0, 20px);
    transform-origin: center ;
}
svg {
    overflow: visible;
}
.section li {
    padding: 4px 10px;
    text-align: center;
    list-style: none;
}
.section ul {
    padding-left: 0;
    margin-top: 0;
    text-align: left;
}
ul.two-col-list {
    list-style: none;
    display: grid;
    font: normal normal normal 28px/34px Montserrat;
    max-width: 900px;
    margin: 40px auto 0;
}
/*basics*/
img {max-width: 100%;height: auto;}
.logo {
    margin: 20px 0;
}
.dark {
    background: var(--darkerblue);
}
/*header*/
header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.socials a {
    margin: 0 5px;
    border: 4px solid var(--mint);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: inline-flex;
}
.socials a:focus,
.socials a:hover{
    border-color: var(--red);
}
nav#menu a:focus ,
nav#menu a:hover {
    color:var(--red);
}
footer .socials {
    margin: 20px 0;
}
footer .row {
    align-items: center;
    margin: 0px auto;
    padding: 120px 0
}
footer .column.three {
    text-align: center;
}
.large-text {
    font-size: clamp(40px,4vw,60px);
    font-weight: bold;
    text-align: right;
    max-width: 600px;
    margin:  80px 0 80px auto !important;
}

.centered,
.centered > *{
    text-align: center;
}
.centered > > * {
    text-align: initial;
}

/*slider overrides*/
.glider-slide {
    margin: 20px 10px 0;
}
.glider-controls {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.glider-dots {
    margin: 0 20px;
}
button.glider-next1,
button.glider-prev1 {
    background: transparent;
    border: 0;
    width: 20px;
}
.glider-dot.active {
    background: var(--white);
}
.glider-dot {
    display: block;
    cursor: pointer;
    border: 1px solid var(--white);
    border-radius: 999px;
    background: var(--black);
    width: 16px;
    height: 16px;
}

button.disabled img {
    opacity: .2;
}
.button {
    border-radius: 5px;
    background: var(--blue);
    padding: 10px;
    color:#1C1C1C;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid var(--blue);
}
.button:focus,.button:hover {
    background: transparent;
    color: var(--blue);
}
.desktop-only {
    display: none;
}
footer {
    background: var(--black);
}
footer nav ul {
    padding: 0;
}
footer nav li a {
    font-weight: normal;
}
footer nav li {
    padding: 0 !important;
    text-align: center;
}
form.contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
}
form.contact label {
    opacity: 0;
    position: absolute;
    left: -99999;
}
form.contact textarea {
    min-height: 100px;
}
form.contact button {
    margin: 0 auto;
}
input, textarea {
    padding: 10px;
    background: transparent;
    border: 2px solid var(--white);
    color: var(--white);
    font-family: var(--bodyfont);
}
input::placeholder, textarea::placeholder {
    color: var(--white);
} 
.strikethrough:before {
    min-width: 110%;
    height:3px;
    margin-bottom: -37%;
    margin-left: -5%;
    background: var(--white);
    content:"";
    display: block;
    transform:scalex(0);
    transform-origin: left;
}
.animatedEnter .strikethrough:before {
    animation: backtonormal .35s linear forwards;
    animation-delay: .25s;
}
.strikethrough {
    display: inline-block;
    padding: 0 4px;
}
.strikethrough.blue::before {
    background-color: var(--blue);
}
.friends {
    opacity: 0;
    transform: translatey(60%);
}
.animatedEnter .friends {
    animation: backtonormal .5s linear forwards;
}
#playbutton:focus,
#playbutton:hover {
    animation: wiggle .5s infinite linear;
}
iframe {
    max-width: 90%;
}
/*modal css*/
.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
  }
  .modal.open {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
  .modal-bg {
      position: absolute;
      background: rgba(0,0,0,.6);
      width: 100%;
      height: 100%;
    }
  .modal-container {
      position: relative;
      padding: 30px;
    }
  .modal-close {
      position: absolute;
      right: 15px;
      top: 15px;
      outline: none;
      appearance: none;
      color: white;
      background: none;
      border: 0px;
      font-weight: bold;
      cursor: pointer;
    }
  
@keyframes wiggle {
    0%{filter: url("#shake0");}
    25%{filter: url("#shake1");}
    50%{filter: url("#shake2");}
    75%{filter: url("#shake3");}
    100%{filter: url("#shake4");}
}
@keyframes backtonormal {
    to {
        transform: none;
        opacity: 1;
    }
}
@media(min-width:800px){
    form.contact {
        grid-template-columns: 1fr 1fr;
    }
    form.contact textarea {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    form.contact button {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .section li {
        padding: 10px;
        line-height: 1.6;
        text-align: left;
    }
    footer nav li {
        text-align: left;
    }
    .address {
        text-align: right;
    }    
    .row {
        flex-direction: row;
    }
    .two-col-list {
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media(prefers-reduced-motion) {
    *{
        animation-duration: 0s !important;
        transition: 0s !important;
    }
    html {
        scroll-behavior: revert;
    }
  }